body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#odota {
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 70px;
    background-color: rgb(135, 206, 235);
    border: 6px solid rgb(85, 114, 1);
    border-radius: 10px;
    box-shadow: 8px 8px rgb(147, 148, 148);
    text-align: center;
}

@keyframes pyoritys {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#spin {
    display: inline-block;
    margin: 16px 0 0 0;
    width: 25px;
    height: 25px;
    border: 5px solid;
    border-color: rgb(92, 124, 211) transparent;
    border-radius: 50%;
    animation: pyoritys 1s linear infinite;
}

#odota h1 {
    display: inline-block;
    font-size: 40px;
    margin-left: 16px;
    margin-top: 0;
    color:rgb(92, 124, 211);
    vertical-align: middle;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.nappulat {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 0;
    width: 100vw;
}

#info {
    position: absolute;
    box-sizing: border-box;
    display: none;
    background-color: white;
    top: 11px;
    width: 1024px;
/*    height: 576px; */
    opacity: 0.9;
    margin: 0;
    padding: 0.5em 0.4em;
}

#info h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2.5em;
    margin: 0 0 0.5em 0;
}

#info button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5em;
    padding: 0.2em 1em;
    margin-bottom: 0.5em;
}

#kanvaasi {
        border: 1px solid black;
        margin-top: 10px;
        opacity: 0;
    }

.skaalaus {
    transform-origin: 50% 0;
}


@media only screen and (orientation: portrait) {
    @media only screen and (max-width: 514.99px) {
        .skaalaus {
            transform: scale(0.4);
        }
    }

    @media only screen and (min-width: 515px) {
        .skaalaus {
            transform: scale(0.5);
        }
    
    }

    @media only screen and (min-width: 618px) {
        .skaalaus {
            transform: scale(0.6);
        }
    
    }

    @media only screen and (min-width: 721px) { 
    
        .skaalaus {
            transform: scale(0.7);
        }
    }

    @media only screen and (min-width: 824px) {
        .skaalaus {
            transform: scale(0.8);
        }
    }

    @media only screen and (min-width: 927px) {
        .skaalaus {
            transform: scale(0.9);
        }
    }

    @media only screen and (min-width: 1030px) {
        .skaalaus {
            transform: scale(1);
        }
    }

    @media only screen and (min-width: 1133px) {
        .skaalaus {
            transform: scale(1.1);
        }
    }

    @media only screen and (min-width: 1236px) {
        .skaalaus {
            transform: scale(1.2);
        }
    }

    @media only screen and (min-width: 1339px) {
        .skaalaus {
            transform: scale(1.3);
        }
    }

    @media only screen and (min-width: 1442px) {
        .skaalaus {
            transform: scale(1.4);
        }
    }

    @media only screen and (min-width: 1545px) {
        .skaalaus {
            transform: scale(1.5);
        }
        
    }
        
}

@media only screen and (orientation: landscape) {
    @media only screen and (max-height: 235.99px) {
        .skaalaus {
            transform: scale(0.4);
        }
    }

    @media only screen and (min-height: 236px) {
        .skaalaus {
            transform: scale(0.4);
        }
    
    }

    @media only screen and (min-height: 295px) {
        .skaalaus {
            transform: scale(0.5);
        }
    
    }

    @media only screen and (min-height: 354px) {
        .skaalaus {
            transform: scale(0.6);
        }
    
    }
    
    @media only screen and (min-height: 413px) { 
    
        .skaalaus {
            transform: scale(0.7);
        }
    }

    @media only screen and (min-height: 472px) {
        .skaalaus {
            transform: scale(0.8);
        }
    }

    @media only screen and (min-height: 531px) {
        .skaalaus {
            transform: scale(0.9);
        }
    }

    @media only screen and (min-height: 590px) {
        .skaalaus {
            transform: scale(1);
        }
    }

    @media only screen and (min-height: 649px) {
        .skaalaus {
            transform: scale(1.1);
        }
    }

    @media only screen and (min-height: 708px) {
        .skaalaus {
            transform: scale(1.2);
        }
    }

    @media only screen and (min-height: 767px) {
        .skaalaus {
            transform: scale(1.3);
        }
    }

    @media only screen and (min-height: 826px) {
        .skaalaus {
            transform: scale(1.4);
        }
    }

    @media only screen and (min-height: 885px) {
        .skaalaus {
            transform: scale(1.5);
        }
    }
            
}

